<section class="portfolio-list">
  <div class="portfolio-list-item">
    <a href="/portfolio/gocardless">GoCardless</a>
  </div>

  <div class="portfolio-list-item">
    <a href="/portfolio/uccf">UCCF</a>
  </div>

  <div class="portfolio-list-item">
    <a href="/portfolio/twilio-best-practices">Twilio Best Practices</a>
  </div>

  <div class="portfolio-list-item">
    <a href="/portfolio/freelancing">Freelancing (<b>I'm available!</b>)</a>
  </div>

  <div class="portfolio-list-item">
    <a href="/portfolio/side-projects">Side projects</a>
  </div>

  <div class="portfolio-list-item">
    <a href="/portfolio/open-source-projects">Open source projects</a>
  </div>
</section>